openapi: 3.0.0
info:
  title: Data API
  version: 3.0.0
  description: Please visit [Using the Data API](../docs/concepts/using-the-data-api.md) to get started
  contact:
    name: Veracross
    url: https://www.veracross.com/api
servers:
- url: https://api.veracross.com/{school_route}/v3
  description: Base URL
tags:
- name: 'Academics: Assignment Grades'
- name: 'Academics: Block Groups'
- name: 'Academics: Blocks by Group'
- name: 'Academics: Calendar Rotation Days'
- name: 'Academics: Class Assignments'
- name: 'Academics: Class Attendance Status'
- name: 'Academics: Class Meeting Times'
- name: 'Academics: Class Schedules'
- name: 'Academics: Classes'
- name: 'Academics: Classes - Permissions'
- name: 'Academics: Configuration - Block Meeting Times'
- name: 'Academics: Configuration - Block Schedules'
- name: 'Academics: Configuration - Blocks/Periods'
- name: 'Academics: Configuration - Grade Levels'
- name: 'Academics: Courses'
- name: 'Academics: Departments'
- name: 'Academics: Enrollments'
- name: 'Academics: Grading Periods'
- name: 'Academics: Numeric Grades'
- name: 'Academics: Qualitative Grades'
- name: 'Academics: Rooms'
- name: 'Academics: Rotation Days'
- name: 'Academics: Rubric Categories'
- name: 'Academics: Rubric Criteria'
- name: 'Academics: Rubric Scales'
- name: 'Academics: Rubric Scales - Levels'
- name: 'Academics: Rubrics'
- name: 'Academics: Student Alerts'
- name: 'Academics: Student Assignments'
- name: 'Academics: Student Daily Schedules'
- name: 'Academics: Subjects'
- name: 'Academics: Teacher Daily Schedules'
- name: 'Admission: Applicant Relationships'
- name: 'Admission: Applicants'
- name: 'Admission: Application Checklists'
- name: 'Admission: Applications'
- name: 'Admission: Citizenships'
- name: 'Admission: Configuration - Checklists'
- name: 'Admission: Configuration - Years'
- name: 'Admission: Household Members'
- name: 'Admission: Households'
- name: 'Admission: Languages'
- name: 'Admission: Relative Relationships'
- name: 'Admission: Relatives'
- name: 'Alumni: Demographics'
- name: 'Athletics: Rosters'
- name: 'Athletics: Sports'
- name: 'Athletics: Team - Coaches'
- name: 'Athletics: Team Practice Schedules'
- name: 'Athletics: Teams'
- name: Attendance Status Codes
- name: Behavior
- name: Behavior Incident Types
- name: 'Boarding: Dorm Attendance'
- name: 'Boarding: Dorm Students'
- name: 'Boarding: Dorms'
- name: 'Calendars: Parent Calendars'
- name: 'Calendars: Student Calendars'
- name: Class - Permissions
- name: Class Attendance
- name: Classes
- name: Contact Info
- name: Convert Parent Account to Staff Account
- name: Courses
- name: 'Development: Constituents'
- name: 'Development: Gifts'
- name: 'Directory Preferences: Household'
- name: 'Directory Preferences: Person'
- name: Directory Type Configurations
- name: 'Directory: Household'
- name: 'Directory: Staff/Faculty'
- name: 'Directory: Student'
- name: Emergency Contacts
- name: Ethnicities
- name: Event Groups
- name: Event Groups Members
- name: Event Representatives
- name: Events
- name: 'Events: Athletics'
- name: 'Events: Athletics Opponents'
- name: 'Events: Athletics Scores'
- name: 'Events: Attendance'
- name: 'Extended Care: Class Attendance'
- name: 'Extended Care: Class Meeting Times'
- name: 'Extended Care: Classes'
- name: 'Extended Care: Courses'
- name: 'Extended Care: Registrations'
- name: External User Accounts
- name: 'Finance: AP Disbursement Items'
- name: 'Finance: AP Disbursements'
- name: 'Finance: AP Invoice Items'
- name: 'Finance: AP Invoices'
- name: 'Finance: GL Accounts'
- name: 'Finance: Post AP Invoices'
- name: 'Finance: Projects'
- name: 'Finance: Purchase Request Workflow'
- name: 'Finance: Purchase Request Workflow GL Accounts'
- name: 'Finance: Tax Types'
- name: 'Finance: Vendors'
- name: Genders
- name: 'Health: All Patients Conditions'
- name: 'Health: Patient Conditions'
- name: 'Health: Patient Medications'
- name: 'Health: Patients'
- name: Household Vehicles
- name: Households
- name: Master Attendance
- name: News
- name: 'Non-Academics: Classes'
- name: 'Non-Academics: Courses'
- name: Parents
- name: Person Accounts
- name: Person Citizenships
- name: Person Enrollment History
- name: Person Ethnicities
- name: Person Photo
- name: Person Profile Codes
- name: Person Reference Number
- name: Person Roles
- name: Person Visas
- name: Portal Membership
- name: 'Programs: Class Attendance'
- name: 'Programs: Class Meeting Times'
- name: 'Programs: Classes'
- name: 'Programs: Courses'
- name: 'Programs: Enrollments'
- name: Relationships
- name: 'Relationships: DEPRECATED'
- name: 'Report Cards: Academic Classifications'
- name: 'Report Cards: Class Attendance'
- name: 'Report Cards: Class Curriculum'
- name: 'Report Cards: Class Teachers'
- name: 'Report Cards: Daily Attendance'
- name: 'Report Cards: Documents'
- name: 'Report Cards: Enrollments'
- name: 'Report Cards: GPAs'
- name: 'Report Cards: Numeric Grades'
- name: 'Report Cards: Qualitative Grades'
- name: Resident Statuses
- name: 'Resource Reservations: Reservations'
- name: 'Resource Reservations: Resources'
- name: Security Roles
- name: Staff/Faculty
- name: 'Standardized Tests: Score Types'
- name: 'Standardized Tests: Scores'
- name: 'Standardized Tests: Test Types'
- name: 'Standardized Tests: Tests'
- name: Student Logistics Requests
- name: 'Student Logistics Requests: Categories'
- name: 'Student Logistics Requests: Drop-Ins'
- name: 'Student Logistics Requests: Reasons'
- name: Students
- name: 'Summer: Class Attendance'
- name: 'Summer: Class Meeting Times'
- name: 'Summer: Classes'
- name: 'Summer: Courses'
- name: 'Summer: Enrollments'
- name: 'Transcripts: Academic Classifications'
- name: 'Transcripts: GPAs'
- name: 'Transcripts: Student Information'
- name: 'Transcripts: Transcript Items'
- name: 'Transportation: Bus Routes'
- name: 'Transportation: Bus Stops'
- name: 'Transportation: Bus Trips'
- name: 'Transportation: Schedules'
- name: 'Transportation: Trips'
- name: 'Volunteer Coordinator: Volunteers'
- name: Withdrawal Reasons
paths:
  /admission/relatives/{id}:
    patch:
      tags:
      - 'Admission: Relatives'
      summary: 'Update Admission: Relatives'
      operationId: update_admission_relatives
      parameters:
      - name: id
        in: path
        description: Person ID
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    household_id:
                      type: integer
                      description: Household ID
                    person_id:
                      type: integer
                      description: Person ID
                      readOnly: true
                    name_prefix:
                      type: integer
                      description: Name Prefix
                    first_name:
                      type: string
                      description: First Name
                      maxLength: 50
                    nick_name:
                      type: string
                      description: Preferred Name
                      maxLength: 50
                    middle_name:
                      type: string
                      description: Middle Name
                      maxLength: 50
                    last_name:
                      type: string
                      description: Last Name
                      maxLength: 50
                    name_suffix:
                      type: integer
                      description: Name Suffix
                    maiden_name:
                      type: string
                      description: Maiden Name
                      maxLength: 50
                    marital_status:
                      type: integer
                      description: 'Marital Status


                        This field is automatically populated if there is a separate record in the database for this person&#39;s spouse, and a relationship record.'
                    gender:
                      type: integer
                      description: Gender
                    pronouns:
                      type: integer
                      description: Pronouns
                    ethnicity:
                      type: integer
                      description: 'Ethnicity (deprecated)


                        Information on handling Special Category data is available at https://www.veracross.com/privacy-policy'
                    date_of_birth:
                      type: string
                      format: date
                      description: 'Birthday


                        Birthday in MMM DD YYYY format'
                    place_of_birth:
                      type: string
                      description: Place of Birth
                      maxLength: 50
                    date_of_death:
                      type: string
                      format: date
                      description: Date of Death
                    email:
                      type: string
                      description: 'Email 1


                        This should be used as the &quot;Preferred&quot; email for email blasts and other electronic correspondence.'
                      maxLength: 100
                    mobile_phone:
                      type: string
                      description: Mobile Phone
                      maxLength: 30
                    work_phone:
                      type: string
                      description: Business Phone
                      maxLength: 30
                    graduation_year:
                      type: integer
                      description: Graduation Year
              required:
              - data
      responses:
        '204':
          description: No Content
          headers:
            X-API-Revision:
              description: API Revision
              schema:
                type: string
              required: true
        4XX:
          description: '> Note: Be sure to check the HTTP response code for these errors as well'
          content:
            application/json:
              schema:
                type: object
                description: 'HTTP response codes describe the error type. See here for a list of HTTP response codes and their meanings: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status'
                properties:
                  error:
                    type: string
                    description: The description of the error
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - error
                - error_id
        5XX:
          description: '> Note: Be sure to check the HTTP response code for these errors as well'
          content:
            application/json:
              schema:
                type: object
                description: 'HTTP response codes describe the error type. See here for a list of HTTP response codes and their meanings: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status'
                properties:
                  error:
                    type: string
                    description: The description of the error
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - error
                - error_id
      security:
      - access_token:
        - admission.relatives:update
    get:
      tags:
      - 'Admission: Relatives'
      summary: 'Read Admission: Relatives'
      operationId: read_admission_relatives
      parameters:
      - name: id
        in: path
        description: Person ID
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
          headers:
            X-API-Revision:
              description: API Revision
              schema:
                type: string
              required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      household_id:
                        type: integer
                        description: Household ID
                      person_id:
                        type: integer
                        description: Person ID
                        readOnly: true
                      name_prefix:
                        type: integer
                        description: Name Prefix
                      first_name:
                        type: string
                        description: First Name
                        maxLength: 50
                      nick_name:
                        type: string
                        description: Preferred Name
                        maxLength: 50
                      middle_name:
                        type: string
                        description: Middle Name
                        maxLength: 50
                      last_name:
                        type: string
                        description: Last Name
                        maxLength: 50
                      name_suffix:
                        type: integer
                        description: Name Suffix
                      maiden_name:
                        type: string
                        description: Maiden Name
                        maxLength: 50
                      marital_status:
                        type: integer
                        description: 'Marital Status


                          This field is automatically populated if there is a separate record in the database for this person&#39;s spouse, and a relationship record.'
                      gender:
                        type: integer
                        description: Gender
                      pronouns:
                        type: integer
                        description: Pronouns
                      ethnicity:
                        type: integer
                        description: 'Ethnicity (deprecated)


                          Information on handling Special Category data is available at https://www.veracross.com/privacy-policy'
                      date_of_birth:
                        type: string
                        format: date
                        description: 'Birthday


                          Birthday in MMM DD YYYY format'
                      place_of_birth:
                        type: string
                        description: Place of Birth
                        maxLength: 50
                      date_of_death:
                        type: string
                        format: date
                        description: Date of Death
                      email:
                        type: string
                        description: 'Email 1


                          This should be used as the &quot;Preferred&quot; email for email blasts and other electronic correspondence.'
                        maxLength: 100
                      mobile_phone:
                        type: string
                        description: Mobile Phone
                        maxLength: 30
                      work_phone:
                        type: string
                        description: Business Phone
                        maxLength: 30
                      graduation_year:
                        type: integer
                        description: Graduation Year
                    required:
                    - household_id
                    - person_id
                    - name_prefix
                    - first_name
                    - nick_name
                    - middle_name
                    - last_name
                    - name_suffix
                    - maiden_name
                    - marital_status
                    - gender
                    - pronouns
                    - ethnicity
                    - date_of_birth
                    - place_of_birth
                    - date_of_death
                    - email
                    - mobile_phone
                    - work_phone
                    - graduation_year
                  value_lists:
                    type: array
                    description: Present only with header `X-API-Value-Lists = include`
                    readOnly: true
                    items:
                      type: object
                      properties:
                        fields:
                          type: array
                          description: An array of field names from `data` that this value list goes with
                          items:
                            type: string
                            enum:
                            - name_prefix
                            - name_suffix
                            - marital_status
                            - gender
                            - pronouns
                            - ethnicity
                        items:
                          type: array
                          description: An array of value list items whose `id` field matches the value in the response data
                          items:
                            type: object
                            properties:
                              description:
                                type: string
                              category:
                                type: integer
                              sort_key:
                                type: integer
                              obsolete:
                                type: boolean
                            required:
                            - id
                            - description
                            - sort_key
                        categories:
                          type: array
                          description: An array of "category" objects, which allow you to partition the value list items according to their category field
                          items:
                            type: object
                            properties:
                              description:
                                type: string
                              sort_key:
                                type: integer
                            required:
                            - id
                            - description
                            - sort_key
                      required:
                      - fields
                      - items
                      - categories
                required:
                - data
        4XX:
          description: '> Note: Be sure to check the HTTP response code for these errors as well'
          content:
            application/json:
              schema:
                type: object
                description: 'HTTP response codes describe the error type. See here for a list of HTTP response codes and their meanings: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status'
                properties:
                  error:
                    type: string
                    description: The description of the error
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - error
                - error_id
        5XX:
          description: '> Note: Be sure to check the HTTP response code for these errors as well'
          content:
            application/json:
              schema:
                type: object
                description: 'HTTP response codes describe the error type. See here for a list of HTTP response codes and their meanings: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status'
                properties:
                  error:
                    type: string
                    description: The description of the error
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - error
                - error_id
      security:
      - access_token:
        - admission.relatives:read
  /person_accounts/{id}:
    delete:
      tags:
      - Person Accounts
      summary: Delete Person Accounts
      operationId: delete_person_accounts
      parameters:
      - name: id
        in: path
        description: 'Person ID


          A person record must exist before creating a user account for the person record.'
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: No Content
          headers:
            X-API-Revision:
              description: API Revision
              schema:
                type: string
              required: true
        4XX:
          description: '> Note: Be sure to check the HTTP response code for these errors as well'
          content:
            application/json:
              schema:
                type: object
                description: 'HTTP response codes describe the error type. See here for a list of HTTP response codes and their meanings: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status'
                properties:
                  error:
                    type: string
                    description: The description of the error
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - error
                - error_id
        5XX:
          description: '> Note: Be sure to check the HTTP response code for these errors as well'
          content:
            application/json:
              schema:
                type: object
                description: 'HTTP response codes describe the error type. See here for a list of HTTP response codes and their meanings: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status'
                properties:
                  error:
                    type: string
                    description: The description of the error
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - error
                - error_id
      security:
      - access_token:
        - person_accounts:delete
    get:
      tags:
      - Person Accounts
      summary: Read Person Accounts
      operationId: read_person_accounts
      parameters:
      - name: id
        in: path
        description: 'Person ID


          A person record must exist before creating a user account for the person record.'
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
          headers:
            X-API-Revision:
              description: API Revision
              schema:
                type: string
              required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      person_id:
                        type: integer
                        description: 'Person ID


                          A person record must exist before creating a user account for the person record.'
                      username:
                        type: string
                        description: Username
                        maxLength: 128
                      external_username:
                        type: string
                        description: 'External Username


                          The username in your external login provider. If you are not using an external provider, leave blank and the system will generate a username for the user based on username configuration set up in Axiom.'
                        maxLength: 255
                      account_type:
                        type: integer
                        description: Account Type
                      primary_portal:
                        type: string
                        description: Primary Portal
                        maxLength: 200
                      status:
                        type: integer
                        description: 'Account Status


                          For Veracross accounts without associated external accounts.'
                      security_roles:
                        type: string
                        description: Security Roles
                        readOnly: true
                      last_login_date:
                        type: string
                        format: date-time
                        description: 'Last Login Date


                          The last time this user successfully logged in to Veracross (excludes impersonated logins).'
                        readOnly: true
                    required:
                    - person_id
                    - username
                    - external_username
                    - account_type
                    - primary_portal
                    - status
                    - security_roles
                    - last_login_date
                  value_lists:
                    type: array
                    description: Present only with header `X-API-Value-Lists = include`
                    readOnly: true
                    items:
                      type: object
                      properties:
                        fields:
                          type: array
                          description: An array of field names from `data` that this value list goes with
                          items:
                            type: string
                            enum:
                            - account_type
                            - status
                            - role
                        items:
                          type: array
                          description: An array of value list items whose `id` field matches the value in the response data
                          items:
                            type: object
                            properties:
                              description:
                                type: string
                              category:
                                type: integer
                              sort_key:
                                type: integer
                              obsolete:
                                type: boolean
                            required:
                            - id
                            - description
                            - sort_key
                        categories:
                          type: array
                          description: An array of "category" objects, which allow you to partition the value list items according to their category field
                          items:
                            type: object
                            properties:
                              description:
                                type: string
                              sort_key:
                                type: integer
                            required:
                            - id
                            - description
                            - sort_key
                      required:
                      - fields
                      - items
                      - categories
                required:
                - data
        4XX:
          description: '> Note: Be sure to check the HTTP response code for these errors as well'
          content:
            application/json:
              schema:
                type: object
                description: 'HTTP response codes describe the error type. See here for a list of HTTP response codes and their meanings: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status'
                properties:
                  error:
                    type: string
                    description: The description of the error
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - error
                - error_id
        5XX:
          description: '> Note: Be sure to check the HTTP response code for these errors as well'
          content:
            application/json:
              schema:
                type: object
                description: 'HTTP response codes describe the error type. See here for a list of HTTP response codes and their meanings: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status'
                properties:
                  error:
                    type: string
                    description: The description of the error
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - error
                - error_id
      security:
      - access_token:
        - person_accounts:read
  /event_groups_members:
    get:
      tags:
      - Event Groups Members
      summary: List Event Groups Members
      description: This endpoint provides, based on an event ID supplied, the group IDs of the groups attached to the event and the person IDs of people attached to the groups. If a person is in more than one group attached to the event, their ID will be returned more than once for the event and associated with each group they are a part of related to the event.
      operationId: list_event_groups_members
      parameters:
      - name: event_group_id
        in: query
        description: Event Group ID
        schema:
          type: integer
      - name: event_id
        in: query
        description: Event ID
        schema:
          type: integer
      - name: group_id
        in: query
        description: Internal Group ID
        schema:
          type: integer
      responses:
        '200':
          description: OK
          headers:
            X-API-Revision:
              description: API Revision
              schema:
                type: string
              required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        event_group_id:
                          type: integer
                          description: Event Group ID
                          readOnly: true
                        event_id:
                          type: integer
                          description: Event ID
                        group_id:
                          type: integer
                          description: Internal Group ID
                          readOnly: true
                        person_id:
                          type: integer
                          description: Person ID
                      required:
                      - event_group_id
                      - event_id
                      - group_id
                      - person_id
                  value_lists:
                    type: array
                    description: Present only with header `X-API-Value-Lists = include`
                    readOnly: true
                    items:
                      type: object
                    maxItems: 0
                required:
                - data
        4XX:
          description: '> Note: Be sure to check the HTTP response code for these errors as well'
          content:
            application/json:
              schema:
                type: object
                description: 'HTTP response codes describe the error type. See here for a list of HTTP response codes and their meanings: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status'
                properties:
                  error:
                    type: string
                    description: The description of the error
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - error
                - error_id
        5XX:
          description: '> Note: Be sure to check the HTTP response code for these errors as well'
          content:
            application/json:
              schema:
                type: object
                description: 'HTTP response codes describe the error type. See here for a list of HTTP response codes and their meanings: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status'
                properties:
                  error:
                    type: string
                    description: The description of the error
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - error
                - error_id
      security:
      - access_token:
        - event_groups_members:list
  /student_logistics/categories:
    get:
      tags:
      - 'Student Logistics Requests: Categories'
      summary: 'List Student Logistics Requests: Categories'
      operationId: list_student_logistics_requests_categories
      parameters:
      - name: display_category
        in: query
        description: Display
        schema:
          type: boolean
      - name: display_reasons
        in: query
        description: Display Reasons?
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          headers:
            X-API-Revision:
              description: API Revision
              schema:
                type: string
              required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        description:
                          type: string
                          description: Description
                          maxLength: 100
                        overall_instructions:
                          type: string
                          description: Overall Instructions
                          maxLength: 1000
                        notes_instructions:
                          type: string
                          description: Notes Instructions
                          maxLength: 1000
                        sort_key:
                          type: integer
                          description: Sort Key
                        display_category:
                          type: boolean
                          description: Display
                        display_reasons:
                          type: boolean
                          description: Display Reasons?
                      required:
                      - id
                      - description
                      - overall_instructions
                      - notes_instructions
                      - sort_key
                      - display_category
                      - display_reasons
                  value_lists:
                    type: array
                    description: Present only with header `X-API-Value-Lists = include`
                    readOnly: true
                    items:
                      type: object
                    maxItems: 0
                required:
                - data
        4XX:
          description: '> Note: Be sure to check the HTTP response code for these errors as well'
          content:
            application/json:
              schema:
                type: object
                description: 'HTTP response codes describe the error type. See here for a list of HTTP response codes and their meanings: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status'
                properties:
                  error:
                    type: string
                    description: The description of the error
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - error
                - error_id
        5XX:
          description: '> Note: Be sure to check the HTTP response code for these errors as well'
          content:
            application/json:
              schema:
                type: object
                description: 'HTTP response codes describe the error type. See here for a list of HTTP response codes and their meanings: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status'
                properties:
                  error:
                    type: string
                    description: The description of the error
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - error
                - error_id
      security:
      - access_token:
        - student_logistics.categories:list
  /finance/ap_disbursements/{disbursement_id}/ap_disbursement_items:
    post:
      tags:
      - 'Finance: AP Disbursement Items'
      summary: 'Create Finance: AP Disbursement Items'
      operationId: create_finance_ap_disbursement_items
      parameters:
      - name: disbursement_id
        in: path
        description: Disbursement Header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    disbursement_item_id:
                      type: integer
                      description: Disbursement Item ID
                      readOnly: true
                    disbursement_header_id:
                      type: string
                      description: Disbursement Header
                    amount:
                      type: number
                      description: 'Amount


                        Amount of this transaction that has been posted to the general ledger.'
                    description:
                      type: string
                      description: Description
                      maxLength: 80
                    cleared:
                      type: boolean
                      description: Cleared?
                    debit_gl_account:
                      type: string
                      description: DR GL Account
                      readOnly: true
                    ap_invoice_header:
                      type: string
                      description: AP Invoice
                    ap_invoice_item:
                      type: string
                      description: AP Item
              required:
              - data
      responses:
        '201':
          description: Created
          headers:
            X-API-Revision:
              description: API Revision
              schema:
                type: string
              required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    required:
                    - id
                required:
                - data
        4XX:
          description: '> Note: Be sure to check the HTTP response code for these errors as well'
          content:
            application/json:
              schema:
                type: object
                description: 'HTTP response codes describe the error type. See here for a list of HTTP response codes and their meanings: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status'
                properties:
                  error:
                    type: string
                    description: The description of the error
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - error
                - error_id
        5XX:
          description: '> Note: Be sure to check the HTTP response code for these errors as well'
          content:
            application/json:
              schema:
                type: object
                description: 'HTTP response codes describe the error type. See here for a list of HTTP response codes and their meanings: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status'
                properties:
                  error:
                    type: string
                    description: The description of the error
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - error
                - error_id
      security:
      - access_token:
        - finance.ap_disbursements.ap_disbursement_items:create
  /classes/{internal_class_id}/attendance/{id}:
    patch:
      tags:
      - Class Attendance
      summary: Update Class Attendance
      operationId: update_class_attendance
      parameters:
      - name: id
        in: path
        description: Class Attendance ID
        required: true
        schema:
          type: integer
      - name: internal_class_id
        in: path
        description: Internal Class ID
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    internal_class_id:
                      type: integer
                      description: Internal Class ID
                      readOnly: true
                    student_id:
                      type: integer
                      description: Person ID
                      readOnly: true
                    student_name:
                      type: string
                      description: 'Full Name


                        The full name of an individual in the school-defined format, often &lt;last name&gt;, &lt;first name&gt;'
                      readOnly: true
                    attendance_date:
                      type: string
                      format: date
                      description: Attendance Date
                    block:
                      type: object
                      properties:
                        description:
                          type: string
                          description: Description
                          maxLength: 50
                        abbreviation:
                          type: string
                          description: Abbreviation
                          maxLength: 6
                      required:
                      - id
                      - description
                      - abbreviation
                    start_time:
                      type: string
                      format: date-time
                      description: Class Begin Time
                      readOnly: true
                    end_time:
                      type: string
                      format: date-time
                      description: Class End Time
                      readOnly: true
                    status:
                      type: integer
                      description: Status
                    notes:
                      type: string
                      description: Notes
                      maxLength: 500
                    last_modified_date:
                      type: string
                      format: date-time
                      description: Last Modified Date
                      readOnly: true
              required:
              - data
      responses:
        '204':
          description: No Content
          headers:
            X-API-Revision:
              description: API Revision
              schema:
                type: string
              required: true
        4XX:
          description: '> Note: Be sure to check the HTTP response code for these errors as well'
          content:
            application/json:
              schema:
                type: object
                description: 'HTTP response codes describe the error type. See here for a list of HTTP response codes and their meanings: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status'
                properties:
                  error:
                    type: string
                    description: The description of the error
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - error
                - error_id
        5XX:
          description: '> Note: Be sure to check the HTTP response code for these errors as well'
          content:
            application/json:
              schema:
                type: object
                description: 'HTTP response codes describe the error type. See here for a list of HTTP response codes and their meanings: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status'
                properties:
                  error:
                    type: string
                    description: The description of the error
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - error
                - error_id
      security:
      - access_token:
        - classes.attendance:update
    get:
      tags:
      - Class Attendance
      summary: Read Class Attendance
      operationId: read_class_attendance
      parameters:
      - name: id
        in: path
        description: Class Attendance ID
        required: true
        schema:
          type: integer
      - name: internal_class_id
        in: path
        description: Internal Class ID
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
          headers:
            X-API-Revision:
              description: API Revision
              schema:
                type: string
              required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      internal_class_id:
                        type: integer
                        description: Internal Class ID
                        readOnly: true
                      student_id:
                        type: integer
                        description: Person ID
                        readOnly: true
                      student_name:
                        type: string
                        description: 'Full Name


                          The full name of an individual in the school-defined format, often &lt;last name&gt;, &lt;first name&gt;'
                        readOnly: true
                      attendance_date:
                        type: string
                        format: date
                        description: Attendance Date
                      block:
                        type: object
                        properties:
                          description:
                            type: string
                            description: Description
                            maxLength: 50
                          abbreviation:
                            type: string
                            description: Abbreviation
                            maxLength: 6
                        required:
                        - id
                        - description
                        - abbreviation
                      start_time:
                        type: string
                        format: date-time
                        description: Class Begin Time
                        readOnly: true
                      end_time:
                        type: string
                        format: date-time
                        description: Class End Time
                        readOnly: true
                      status:
                        type: integer
                        description: Status
                      notes:
                        type: string
                        description: Notes
                        maxLength: 500
                      last_modified_date:
                        type: string
                        format: date-time
                        description: Last Modified Date
                        readOnly: true
                    required:
                    - id
                    - internal_class_id
                    - student_id
                    - student_name
                    - attendance_date
                    - block
                    - start_time
                    - end_time
                    - status
                    - notes
                    - last_modified_date
                  value_lists:
                    type: array
                    description: Present only with header `X-API-Value-Lists = include`
                    readOnly: true
                    items:
                      type: object
                      properties:
                        fields:
                          type: array
                          description: An array of field names from `data` that this value list goes with
                          items:
                            type: string
                            enum:
                            - status
                        items:
                          type: array
                          description: An array of value list items whose `id` field matches the value in the response data
                          items:
                            type: object
                            properties:
                              description:
                                type: string
                              category:
                                type: integer
                              sort_key:
                                type: integer
                              obsolete:
                                type: boolean
                            required:
                            - id
                            - description
                            - sort_key
                        categories:
                          type: array
                          description: An array of "category" objects, which allow you to partition the value list items according to their category field
                          items:
                            type: object
                            properties:
                              description:
                                type: string
                              sort_key:
                                type: integer
                            required:
                            - id
                            - description
                            - sort_key
                      required:
                      - fields
                      - items
                      - categories
                required:
                - data
        4XX:
          description: '> Note: Be sure to check the HTTP response code for these errors as well'
          content:
            application/json:
              schema:
                type: object
                description: 'HTTP response codes describe the error type. See here for a list of HTTP response codes and their meanings: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status'
                properties:
                  error:
                    type: string
                    description: The description of the error
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - error
                - error_id
        5XX:
          description: '> Note: Be sure to check the HTTP response code for these errors as well'
          content:
            application/json:
              schema:
                type: object
                description: 'HTTP response codes describe the error type. See here for a list of HTTP response codes and their meanings: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status'
                properties:
                  error:
                    type: string
                    description: The description of the error
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - error
                - error_id
      security:
      - access_token:
        - classes.attendance:read
  /academics/courses:
    post:
      tags:
      - 'Academics: Courses'
      summary: 'Create Academics: Courses'
      operationId: create_academics_courses
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    course_id:
                      type: string
                      description: Course ID
                      maxLength: 15
                    name:
                      type: string
                      description: Course Name
                      maxLength: 100
                    subject_id:
                      type: string
                      description: Subject
                    catalog_title:
                      type: string
                      description: Catalog Title
                      maxLength: 100
                    catalog_description:
                      type: string
                      description: Catalog Description
                      maxLength: 8000
                    course_type:
                      type: integer
                      description: Course Type
                  required:
                  - name
                  - subject_id
                  - course_type
              required:
              - data
      responses:
        '201':
          description: Created
          headers:
            X-API-Revision:
              description: API Revision
              schema:
                type: string
              required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    required:
                    - id
                required:
                - data
        4XX:
          description: '> Note: Be sure to check the HTTP response code for these errors as well'
          content:
            application/json:
              schema:
                type: object
                description: 'HTTP response codes describe the error type. See here for a list of HTTP response codes and their meanings: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status'
                properties:
                  error:
                    type: string
                    description: The description of the error
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - error
                - error_id
        5XX:
          description: '> Note: Be sure to check the HTTP response code for these errors as well'
          content:
            application/json:
              schema:
                type: object
                description: 'HTTP response codes describe the error type. See here for a list of HTTP response codes and their meanings: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status'
                properties:
                  error:
                    type: string
                    description: The description of the error
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - error
                - error_id
      security:
      - access_token:
        - academics.courses:create
    get:
      tags:
      - 'Academics: Courses'
      summary: 'List Academics: Courses'
      operationId: list_academics_courses
      parameters:
      - name: subject_id
        in: query
        description: Subject ID
        schema:
          type: integer
      - name: classification
        in: query
        description: Classification
        schema:
          type: integer
      - name: course_type
        in: query
        description: Academic Course Type
        schema:
          type: integer
      - name: on_or_before_last_modified_date
        in: query
        description: Last Modified Date
        schema:
          type: string
          format: date-time
      - name: on_or_after_last_modified_date
        in: query
        description: Last Modified Date
        schema:
          type: string
          format: date-time
      - name: classification_not
        in: query
        description: Classification
        schema:
          type: integer
      responses:
        '200':
          description: OK
          headers:
            X-API-Revision:
              description: API Revision
              schema:
                type: string
              required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        course_id:
                          type: string
                          description: Course ID
                          maxLength: 15
                        name:
                          type: string
                          description: Course Name
                          maxLength: 100
                        subject_id:
                          type: integer
                          description: Subject ID
                        subject_description:
                          type: string
                          description: Description
                          maxLength: 50
                        department_id:
                          type: integer
                          description: ID
                          readOnly: true
                        department_description:
                          type: string
                          description: Description
                          maxLength: 100
                        catalog_title:
                          type: string
                          description: Catalog Title
                          maxLength: 100
                        catalog_description:
                          type: string
                          description: Catalog Description
                          maxLength: 8000
                        classification:
                          type: integer
                          description: Classification
                        course_type:
                          type: integer
                          description: Academic Course Type
                        last_modified_date:
                          type: string
                          format: date-time
                          description: Last Modified Date
                          readOnly: true
                      required:
                      - id
                      - course_id
                      - name
                      - subject_id
                      - subject_description
                      - department_id
                      - department_description
                      - catalog_title
                      - catalog_description
                      - classification
                      - course_type
                      - last_modified_date
                  value_lists:
                    type: array
                    description: Present only with header `X-API-Value-Lists = include`
                    readOnly: true
                    items:
                      type: object
                      properties:
                        fields:
                          type: array
                          description: An array of field names from `data` that this value list goes with
                          items:
                            type: string
                            enum:
                            - classification
                            - course_type
                            - classification_not
                        items:
                          type: array
                          description: An array of value list items whose `id` field matches the value in the response data
                          items:
                            type: object
                            properties:
                              description:
                                type: string
                              category:
                                type: integer
                              sort_key:
                                type: integer
                              obsolete:
                                type: boolean
                            required:
                            - id
                            - description
                            - sort_key
                        categories:
                          type: array
                          description: An array of "category" objects, which allow you to partition the value list items according to their category field
                          items:
                            type: object
                            properties:
                              description:
                                type: string
                              sort_key:
                                type: integer
                            required:
                            - id
                            - description
                            - sort_key
                      required:
                      - fields
                      - items
                      - categories
                required:
                - data
        4XX:
          description: '> Note: Be sure to check the HTTP response code for these errors as well'
          content:
            application/json:
              schema:
                type: object
                description: 'HTTP response codes describe the error type. See here for a list of HTTP response codes and their meanings: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status'
                properties:
                  error:
                    type: string
                    description: The description of the error
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - error
                - error_id
        5XX:
          description: '> Note: Be sure to check the HTTP response code for these errors as well'
          content:
            application/json:
              schema:
                type: object
                description: 'HTTP response codes describe the error type. See here for a list of HTTP response codes and their meanings: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status'
                properties:
                  error:
                    type: string
                    description: The description of the error
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - error
                - error_id
      security:
      - access_token:
        - academics.courses:list
  /athletics/sports:
    post:
      tags:
      - 'Athletics: Sports'
      summary: 'Create Athletics: Sports'
      operationId: create_athletics_sports
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    description:
                      type: string
                      description: Description
                      maxLength: 100
                    abbreviation:
                      type: string
                      description: Course ID
                      maxLength: 15
                    gender:
                      type: integer
                      description: Gender
                    subject_id:
                      type: integer
                      description: Subject
                  required:
                  - description
                  - gender
                  - subject_id
              required:
              - data
      responses:
        '201':
          description: Created
          headers:
            X-API-Revision:
              description: API Revision
              schema:
                type: string
              required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    required:
                    - id
                required:
                - data
        4XX:
          description: '> Note: Be sure to check the HTTP response code for these errors as well'
          content:
            application/json:
              schema:
                type: object
                description: 'HTTP response codes describe the error type. See here for a list of HTTP response codes and their meanings: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status'
                properties:
                  error:
                    type: string
                    description: The description of the error
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - error
                - error_id
        5XX:
          description: '> Note: Be sure to check the HTTP response code for these errors as well'
          content:
            application/json:
              schema:
                type: object
                description: 'HTTP response codes describe the error type. See here for a list of HTTP response codes and their meanings: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status'
                properties:
                  error:
                    type: string
                    description: The description of the error
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - error
                - error_id
      security:
      - access_token:
        - athletics.sports:create
    get:
      tags:
      - 'Athletics: Sports'
      summary: 'List Athletics: Sports'
      operationId: list_athletics_sports
      parameters:
      - name: school_level
        in: query
        description: Description
        schema:
          type: string
          maxLength: 50
      - name: gender
        in: query
        description: Gender
        schema:
          type: integer
      responses:
        '200':
          description: OK
          headers:
            X-API-Revision:
              description: API Revision
              schema:
                type: string
              required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        description:
                          type: string
                          description: Course Name
                          maxLength: 100
                        abbreviation:
                          type: string
                          description: Course ID
                          maxLength: 15
                        school_level:
                          type: string
                          description: Description
                          maxLength: 50
                        gender:
                          type: integer
                          description: Gender
                        subject_id:
                          type: integer
                          description: Subject ID
                        subject_description:
                          type: string
                          description: Description
                          maxLength: 50
                      required:
                      - id
                      - description
                      - abbreviation
                      - school_level
                      - gender
                      - subject_id
                      - subject_description
                  value_lists:
                    type: array
                    description: Present only with header `X-API-Value-Lists = include`
                    readOnly: true
                    items:
                      type: object
                      properties:
                        fields:
                          type: array
                          description: An array of field names from `data` that this value list goes with
                          items:
                            type: string
                            enum:
                            - gender
                        items:
                          type: array
                          description: An array of value list items whose `id` field matches the value in the response data
                          items:
                            type: object
                            properties:
                              description:
                                type: string
                              category:
                                type: integer
                              sort_key:
                                type: integer
                              obsolete:
                                type: boolean
                            required:
                            - id
                            - description
                            - sort_key
                        categories:
                          type: array
                          description: An array of "category" objects, which allow you to partition the value list items according to their category field
                          items:
                            type: object
                            properties:
                              description:
                                type: string
                              sort_key:
                                type: integer
                            required:
                            - id
                            - description
                            - sort_key
                      required:
                      - fields
                      - items
                      - categories
                required:
                - data
        4XX:
          description: '> Note: Be sure to check the HTTP response code for these errors as well'
          content:
            application/json:
              schema:
                type: object
                description: 'HTTP response codes describe the error type. See here for a list of HTTP response codes and their meanings: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status'
                properties:
                  error:
                    type: string
                    description: The description of the error
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - error
                - error_id
        5XX:
          description: '> Note: Be sure to check the HTTP response code for these errors as well'
          content:
            application/json:
              schema:
                type: object
                description: 'HTTP response codes describe the error type. See here for a list of HTTP response codes and their meanings: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status'
                properties:
                  error:
                    type: string
                    description: The description of the error
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - error
                - error_id
      security:
      - access_token:
        - athletics.sports:list
  /events/group_events:
    get:
      tags:
      - Events
      summary: List Events
      operationId: list_events
      parameters:
      - name: campus
        in: query
        description: Campus
        schema:
          type: integer
      - name: school_level
        in: query
        description: 'School Level


          The school level associated with this event.




          Within the context of parent/teacher conferences, this field is used in conjunction with the Grade Level field to determine who is eligible to sign up for a conference. Example: if School Level = Upper School and Grade Level = Grade 8, any parent of a student in Upper School OR Grade 8 is eligible to sign up for the conference slot.'
        schema:
          type: integer
      - name: grade_level
        in: query
        description: 'Grade Level


          The grade level associated with this event.




          Within the context of parent/teacher conferences, this field is used in conjunction with the School Level field to determine who is eligible to sign up for a conference. Example: if School Level = Upper School and Grade Level = Grade 8, any parent of a student in Upper School OR Grade 8 is eligible to sign up for the conference slot.'
        schema:
          type: integer
      - name: event_type
        in: query
        description: Event Type
        schema:
          type: integer
      - name: internal_group_id
        in: query
        description: Internal Group ID
        schema:
          type: integer
      - name: resource_id
        in: query
        description: Resource ID (First Created)
        schema:
          type: integer
      - name: on_or_before_start_date
        in: query
        description: Start Date
        schema:
          type: string
          format: date
      - name: on_or_after_start_date
        in: query
        description: Start Date
        schema:
          type: string
          format: date
      - name: on_or_before_end_date
        in: query
        description: End Date
        schema:
          type: string
          format: date
          maxLength: 10
      - name: on_or_after_end_date
        in: query
        description: End Date
        schema:
          type: string
          format: date
          maxLength: 10
      - name: on_or_after_update_date
        in: query
        description: Update Date
        schema:
          type: string
          format: date
      - name: on_or_before_update_date
        in: query
        description: Update Date
        schema:
          type: string
          format: date
      - name: public
        in: query
        description: Display On Public Calendar
        schema:
          type: boolean
      - name: is_series_template
        in: query
        description: 'Series Master Event


          If selected, individual events will be created for each day that the event takes place'
        schema:
          type: boolean
      - name: attendance_taken
        in: query
        description: Attendance Taken
        schema:
          type: integer
      responses:
        '200':
          description: OK
          headers:
            X-API-Revision:
              description: API Revision
              schema:
                type: string
              required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        description:
                          type: string
                          description: Description
                          maxLength: 200
                        location:
                          type: string
                          description: Location
                          maxLength: 255
                        virtual_location_url:
                          type: string
                          description: Virtual Location URL
                        depart_from:
                          type: string
                          description: Depart From
                          maxLength: 50
                        google_map:
                          type: string
                          description: Map
                          readOnly: true
                        google_directions_from_school:
                          type: string
                          description: Directions from School
                          readOnly: true
                        campus_id:
                          type: integer
                          description: Campus
                        campus_description:
                          type: string
                          description: Campus Description
                          readOnly: true
                        internal_group_id:
                          type: integer
                          description: Internal Group ID
                        group_description:
                          type: string
                          description: Primary Group Name
                          readOnly: true
                        groups:
                          type: string
                          description: Groups Included
                          readOnly: true
                        student_group_id:
                          type: integer
                          description: Student Group
                        student_group_description:
                          type: string
                          description: Student Group Description
                          readOnly: true
                        contact_person_id:
                          type: integer
                          description: Contact Person ID
                        contact_person_name:
                          type: string
                          description: First Last
                          readOnly: true
                        event_type_id:
                          type: integer
                          description: Event Type
                        event_type_description:
                          type: string
                          description: Event Type Description
                          readOnly: true
                        event_status_id:
                          type: integer
                          description: Event Status
                        event_status_description:
                          type: string
                          description: Event Status Description
                          readOnly: true
                        grade_level:
                          type: integer
                          description: 'Grade Level


                            The grade level associated with this event.




                            Within the context of parent/teacher conferences, this field is used in conjunction with the School Level field to determine who is eligible to sign up for a conference. Example: if School Level = Upper School and Grade Level = Grade 8, any parent of a student in Upper School OR Grade 8 is eligible to sign up for the conference slot.'
                        school_level_id:
                          type: integer
                          description: 'School Level


                            The school level associated with this event.




                            Within the context of parent/teacher conferences, this field is used in conjunction with the Grade Level field to determine who is eligible to sign up for a conference. Example: if School Level = Upper School and Grade Level = Grade 8, any parent of a student in Upper School OR Grade 8 is eligible to sign up for the conference slot.'
                        school_level_description:
                          type: string
                          description: School Level Description
                          readOnly: true
                        start_date:
                          type: string
                          format: date
                          description: Start Date
                        end_date:
                          type: string
                          description: End Date
                          maxLength: 10
                        start_time:
                          type: string
                          description: Start Time
                          maxLength: 8
                        end_time:
                          type: string
                          description: End Time
                          maxLength: 8
                        update_date:
                          type: string
                          format: date
                          description: Update Date
                        url:
                          type: string
                          description: URL
                          maxLength: 100
                        notes:
                          type: string
                          description: Notes
                          maxLength: 1000
                        catering_notes:
                          type: string
                          description: Catering Notes
                          maxLength: 1000
                        av_notes:
                          type: string
                          description: Audio/Visual Notes
                          maxLength: 1000
                        maintenance_notes:
                          type: string
                          description: Maintenance Notes
                          maxLength: 1000
                        cleaning_notes:
                          type: string
                          description: Cleaning Notes
                          maxLength: 1000
                        security_notes:
                          type: string
                          description: Security Notes
                          maxLength: 1000
                        follow_up_notes:
                          type: string
                          description: Follow Up Notes
                          maxLength: 1000
                        resource_id:
                          type: integer
                          description: Resource ID (First Created)
                          readOnly: true
                        public:
                          type: boolean
                          description: Display On Public Calendar
                        series_template:
                          type: boolean
                          description: 'Series Master Event


                            If selected, individual events will be created for each day that the event takes place'
                        attendance_taken:
                          type: integer
                          description: Attendance Taken
                        campus_departure_time:
                          type: string
                          description: Campus Departure Time
                          maxLength: 8
                        campus_return_time:
                          type: string
                          description: Campus Return Time
                          maxLength: 8
                        class_attendance_status:
                          type: integer
                          description: 'Class Attendance Status


                            The class attendance status that will be used for students who participate in this event. This value will be applied to class attendance for all the classes affected by this event between Class Departure Time and Campus Return Time.'
                        class_departure_time:
                          type: string
                          description: Class Departure Time
                          maxLength: 8
                        daily_attendance_status:
                          type: integer
                          description: 'Daily Attendance Status


                            The daily attendance status that will be used for students who participate in this event. This value will be applied to daily attendance for all the students affected by this event. Leaving this value set as &quot;none specified&quot; will leave the daily attendance status as &quot;Present&quot; for all the students.'
                        display_on_alumni_calendar:
                          type: boolean
                          description: Display On Alumni Calendar
                        display_on_group_members_calendar:
                          type: boolean
                          description: Display On Group Members Calendar
                        display_on_parent_calendar:
                          type: boolean
                          description: Display On Parent Calendar
                        display_on_staff_faculty_calendar:
                          type: boolean
                          description: Display On Staff/Faculty Calendar
                        display_on_student_calendar:
                          type: boolean
                          description: Display On Student Calendar
                        internal_location_resource_id:
                          type: integer
                          description: Internal Location Resource ID
                        venue_departure_time:
                          type: string
                          description: Venue Departure Time
                          maxLength: 8
                        has_multiple_resources:
                          type: boolean
                          description: Has Multiple Resources?
                          readOnly: true
                      required:
                      - id
                      - description
                      - location
                      - virtual_location_url
                      - depart_from
                      - google_map
                      - google_directions_from_school
                      - campus_id
                      - campus_description
                      - internal_group_id
                      - group_description
                      - groups
                      - student_group_id
                      - student_group_description
                      - contact_person_id
                      - contact_person_name
                      - event_type_id
                      - event_type_description
                      - event_status_id
                      - event_status_description
                      - grade_level
                      - school_level_id
                      - school_level_description
                      - start_date
                      - end_date
                      - start_time
                      - end_time
                      - update_date
                      - url
                      - notes
                      - catering_notes
                      - av_notes
                      - maintenance_notes
                      - cleaning_notes
                      - security_notes
                      - follow_up_notes
                      - resource_id
                      - public
                      - series_template
                      - attendance_taken
                      - campus_departure_time
                      - campus_return_time
                      - class_attendance_status
                      - class_departure_time
                      - daily_attendance_status
                      - display_on_alumni_calendar
                      - display_on_group_members_calendar
                      - display_on_parent_calendar
                      - display_on_staff_faculty_calendar
                      - display_on_student_calendar
                      - internal_location_resource_id
                      - venue_departure_time
                      - has_multiple_resources
                  value_lists:
                    type: array
                    description: Present only with header `X-API-Value-Lists = include`
                    readOnly: true
                    items:
                      type: object
                      properties:
                        fields:
                          type: array
                          description: An array of field names from `data` that this value list goes with
                          items:
                            type: string
                            enum:
                            - campus_id
                            - student_group_id
                            - event_type_id
                            - event_status_id
                            - grade_level
                            - school_level_id
                            - school_level
                            - event_type
                            - attendance_taken
                            - class_attendance_status
                            - daily_attendance_status
                        items:
                          type: array
                          description: An array of value list items whose `id` field matches the value in the response data
                          items:
                            type: object
                            properties:
                              description:
                                type: string
                              category:
                                type: integer
                              sort_key:
                                type: integer
                              obsolete:
                                type: boolean
                            required:
                            - id
                            - description
                            - sort_key
                        categories:
                          type: array
                          description: An array of "category" objects, which allow you to partition the value list items according to their category field
                          items:
                            type: object
                            properties:
                              description:
                                type: string
                              sort_key:
                                type: integer
                            required:
                            - id
                            - description
                            - sort_key
                      required:
                      - fields
                      - items
                      - categories
                required:
                - data
        4XX:
          description: '> Note: Be sure to check the HTTP response code for these errors as well'
          content:
            application/json:
              schema:
                type: object
                description: 'HTTP response codes describe the error type. See here for a list of HTTP response codes and their meanings: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status'
                properties:
                  error:
                    type: string
                    description: The description of the error
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - error
                - error_id
        5XX:
          description: '> Note: Be sure to check the HTTP response code for these errors as well'
          content:
            application/json:
              schema:
                type: object
                description: 'HTTP response codes describe the error type. See here for a list of HTTP response codes and their meanings: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status'
                properties:
                  error:
                    type: string
                    description: The description of the error
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - error
                - error_id
      security:
      - access_token:
        - events.group_events:list
    post:
      tags:
      - Events
      summary: Create Events
      operationId: create_events
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    description:
                      type: string
                      description: Description
                      maxLength: 200
                    location:
                      type: string
                      description: Location
                      maxLength: 255
                    virtual_location_url:
                      type: string
                      description: Virtual Location URL
                    depart_from:
                      type: string
                      description: Depart From
                      maxLength: 50
                    google_map:
                      type: string
                      description: Map
                      readOnly: true
                    google_directions_from_school:
                      type: string
                      description: Directions from School
                      readOnly: true
                    campus_id:
                      type: integer
                      description: Campus
                    campus_description:
                      type: string
                      description: Campus Description
                      readOnly: true
                    internal_group_id:
                      type: integer
                      description: Internal Group ID
                    group_description:
                      type: string
                      description: Primary Group Name
                      readOnly: true
                    groups:
                      type: string
                      description: Groups Included
                      readOnly: true
                    student_group_id:
                      type: integer
                      description: Student Group
                    student_group_description:
                      type: string
                      description: Student Group Description
                      readOnly: true
                    contact_person_id:
                      type: integer
                      description: Contact Person ID
                    contact_person_name:
                      type: string
                      description: First Last
                      readOnly: true
                    event_type_id:
                      type: integer
                      description: Event Type
                    event_type_description:
                      type: string
                      description: Event Type Description
                      readOnly: true
                    event_status_id:
                      type: integer
                      description: Event Status
                    event_status_description:
                      type: string
                      description: Event Status Description
                      readOnly: true
                    grade_level:
                      type: integer
                      description: 'Grade Level


                        The grade level associated with this event.




[...]
