openapi: 3.0.0
info:
  title: OneRoster API
  version: 1.0.0
  description: Please visit [Veracross API home](https://api-docs.veracross.com/) to get started
servers:
- url: https://oneroster.veracross.com/school-route/ims/oneroster/v1p1
  description: Base URL
tags:
- name: Academic Sessions
- name: Classes
- name: Classes-Students
- name: Classes-Teachers
- name: Courses
- name: Courses-Classes
- name: Enrollments
- name: Grading Periods
- name: Orgs
- name: Schools
- name: Schools-Classes
- name: Schools-Classes-Enrollments
- name: Schools-Classes-Students
- name: Schools-Classes-Teachers
- name: Schools-Courses
- name: Schools-Enrollments
- name: Schools-Students
- name: Schools-Teachers
- name: Schools-Terms
- name: Students
- name: Students-Classes
- name: Teachers
- name: Teachers-Classes
- name: Terms
- name: Terms-Classes
- name: Terms-Grading Periods
- name: Users
- name: Users-Classes
paths:
  /classes/{class_id}/teachers:
    get:
      tags:
      - Classes-Teachers
      summary: List Class's Teachers
      description: Return the collection of teachers that are teaching this class.
      operationId: getTeachersForClass
      parameters:
      - name: class_id
        in: path
        description: OneRoster Access Name
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: 'Query Filter in one of the following formats:<br><ul><li>?filter={data field}{predicate}{value}</li><li>?filter={data field}{predicate}{value} {logical} {data field}{predicate}{value}</li></ul>

          where {predicate} is one of [=, !=, >, >=, <, <=, ~]<br>

          and {logical} is one of [AND, OR]'
        schema:
          type: string
      - name: limit
        in: query
        description: The number of results to return.
        schema:
          type: integer
          minimum: 1
      - name: offset
        in: query
        description: The index of the first record to return. (zero indexed)
        schema:
          type: integer
          minimum: 0
      - name: sort
        in: query
        description: Designates the field used to sort the list, any data field may be sorted on (nested fields can be accessed with "." notation, i.e. "course.sourcedId").
        schema:
          type: string
      - name: orderBy
        in: query
        description: May be used after a sort query parameter. Designates the sort direction, "asc" or "desc".
        schema:
          type: string
          default: asc
      responses:
        '200':
          description: OK - It was possible to read the collection / resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        sourcedId:
                          type: string
                          description: OneRoster Access Name
                          readOnly: true
                        status:
                          type: string
                          description: OneRoster Status
                          readOnly: true
                        dateLastModified:
                          type: string
                          description: Date Last Modified
                          readOnly: true
                        username:
                          type: string
                          description: Username
                        enabledUser:
                          type: string
                          description: OneRoster Enabled User
                          readOnly: true
                        givenName:
                          type: string
                          description: First Name
                        familyName:
                          type: string
                          description: Last Name
                        middleName:
                          type: string
                          description: Middle Name
                        preferredFirstName:
                          type: string
                          description: Preffered First Name
                        role:
                          type: string
                          description: OneRoster Role
                          readOnly: true
                        identifier:
                          type: string
                          description: Person ID - Read Only
                          readOnly: true
                        email:
                          type: string
                          description: 'Email 1


                            This should be used as the &quot;Preferred&quot; email for email blasts and other electronic correspondence.'
                        phone:
                          type: string
                          description: Mobile Phone
                        agents:
                          type: integer
                          description: '# OneRoster Agents'
                          readOnly: true
                        orgs:
                          type: integer
                          description: '# Institution Groupings'
                          readOnly: true
                      required:
                      - sourcedId
                      - status
                      - dateLastModified
                      - username
                      - enabledUser
                      - givenName
                      - familyName
                      - middleName
                      - role
                      - identifier
                      - email
                      - phone
                      - agents
                      - orgs
                required:
                - users
        '400':
          description: Bad Request - the Request was invalid and cannot be served.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '401':
          description: Unauthorized - the Request requires authorization.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '403':
          description: Forbidden - to indicate that the server can be reached and process the request but refuses to take any further action.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '404':
          description: Not Found - there is no resource behind the URI.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '429':
          description: The server is receiving too many requests. Retry at a later time.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
      security:
      - access_token:
        - https://purl.imsglobal.org/spec/or/v1p1/scope/roster-core.readonly
        - https://purl.imsglobal.org/spec/or/v1p1/scope/roster.readonly
  /classes/{class_id}/teachers/{sourcedId}:
    get:
      tags:
      - Classes-Teachers
      summary: Read Class's Teacher
      description: Return a specific teacher for a class.
      operationId: getTeacherForClass
      parameters:
      - name: sourcedId
        in: path
        description: OneRoster Access Name
        required: true
        schema:
          type: string
      - name: class_id
        in: path
        description: OneRoster Access Name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK - It was possible to read the collection / resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      sourcedId:
                        type: string
                        description: OneRoster Access Name
                        readOnly: true
                      status:
                        type: string
                        description: OneRoster Status
                        readOnly: true
                      dateLastModified:
                        type: string
                        description: Date Last Modified
                        readOnly: true
                      username:
                        type: string
                        description: Username
                      enabledUser:
                        type: string
                        description: OneRoster Enabled User
                        readOnly: true
                      givenName:
                        type: string
                        description: First Name
                      familyName:
                        type: string
                        description: Last Name
                      middleName:
                        type: string
                        description: Middle Name
                      preferredFirstName:
                        type: string
                        description: Preffered First Name
                      role:
                        type: string
                        description: OneRoster Role
                        readOnly: true
                      identifier:
                        type: string
                        description: Person ID - Read Only
                        readOnly: true
                      email:
                        type: string
                        description: 'Email 1


                          This should be used as the &quot;Preferred&quot; email for email blasts and other electronic correspondence.'
                      phone:
                        type: string
                        description: Mobile Phone
                      agents:
                        type: integer
                        description: '# OneRoster Agents'
                        readOnly: true
                      orgs:
                        type: integer
                        description: '# Institution Groupings'
                        readOnly: true
                    required:
                    - sourcedId
                    - status
                    - dateLastModified
                    - username
                    - enabledUser
                    - givenName
                    - familyName
                    - middleName
                    - role
                    - identifier
                    - email
                    - phone
                    - agents
                    - orgs
                required:
                - user
        '400':
          description: Bad Request - the Request was invalid and cannot be served.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '401':
          description: Unauthorized - the Request requires authorization.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '403':
          description: Forbidden - to indicate that the server can be reached and process the request but refuses to take any further action.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '404':
          description: Not Found - there is no resource behind the URI.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '429':
          description: The server is receiving too many requests. Retry at a later time.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
      security:
      - access_token:
        - https://purl.imsglobal.org/spec/or/v1p1/scope/roster-core.readonly
        - https://purl.imsglobal.org/spec/or/v1p1/scope/roster.readonly
  /courses:
    get:
      tags:
      - Courses
      summary: List Courses
      description: Return collection of courses.
      operationId: getAllCourses
      parameters:
      - name: filter
        in: query
        description: 'Query Filter in one of the following formats:<br><ul><li>?filter={data field}{predicate}{value}</li><li>?filter={data field}{predicate}{value} {logical} {data field}{predicate}{value}</li></ul>

          where {predicate} is one of [=, !=, >, >=, <, <=, ~]<br>

          and {logical} is one of [AND, OR]'
        schema:
          type: string
      - name: limit
        in: query
        description: The number of results to return.
        schema:
          type: integer
          minimum: 1
      - name: offset
        in: query
        description: The index of the first record to return. (zero indexed)
        schema:
          type: integer
          minimum: 0
      - name: sort
        in: query
        description: Designates the field used to sort the list, any data field may be sorted on (nested fields can be accessed with "." notation, i.e. "course.sourcedId").
        schema:
          type: string
      - name: orderBy
        in: query
        description: May be used after a sort query parameter. Designates the sort direction, "asc" or "desc".
        schema:
          type: string
          default: asc
      responses:
        '200':
          description: OK - It was possible to read the collection / resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  courses:
                    type: array
                    items:
                      type: object
                      properties:
                        sourcedId:
                          type: string
                          description: OneRoster Access Name
                        status:
                          type: string
                          description: OneRoster Status
                          readOnly: true
                        dateLastModified:
                          type: string
                          description: OneRoster Date Last Modified
                          readOnly: true
                        title:
                          type: string
                          description: Course Name
                        courseCode:
                          type: string
                          description: Course ID
                        org:
                          type: object
                          properties:
                            href:
                              type: string
                              description: OneRoster Org Href
                              readOnly: true
                            sourcedId:
                              type: string
                              description: OneRoster Access Name
                            type:
                              type: string
                              description: OneRoster Type
                              readOnly: true
                          required:
                          - href
                          - sourcedId
                          - type
                      required:
                      - sourcedId
                      - status
                      - dateLastModified
                      - title
                      - courseCode
                      - org
                required:
                - courses
        '400':
          description: Bad Request - the Request was invalid and cannot be served.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '401':
          description: Unauthorized - the Request requires authorization.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '403':
          description: Forbidden - to indicate that the server can be reached and process the request but refuses to take any further action.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '404':
          description: Not Found - there is no resource behind the URI.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '429':
          description: The server is receiving too many requests. Retry at a later time.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
      security:
      - access_token:
        - https://purl.imsglobal.org/spec/or/v1p1/scope/roster-core.readonly
        - https://purl.imsglobal.org/spec/or/v1p1/scope/roster.readonly
  /courses/{sourcedId}:
    get:
      tags:
      - Courses
      summary: Read Course
      description: Return specific course.
      operationId: getCourse
      parameters:
      - name: sourcedId
        in: path
        description: OneRoster Access Name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK - It was possible to read the collection / resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  course:
                    type: object
                    properties:
                      sourcedId:
                        type: string
                        description: OneRoster Access Name
                      status:
                        type: string
                        description: OneRoster Status
                        readOnly: true
                      dateLastModified:
                        type: string
                        description: OneRoster Date Last Modified
                        readOnly: true
                      title:
                        type: string
                        description: Course Name
                      courseCode:
                        type: string
                        description: Course ID
                      org:
                        type: object
                        properties:
                          href:
                            type: string
                            description: OneRoster Org Href
                            readOnly: true
                          sourcedId:
                            type: string
                            description: OneRoster Access Name
                          type:
                            type: string
                            description: OneRoster Type
                            readOnly: true
                        required:
                        - href
                        - sourcedId
                        - type
                    required:
                    - sourcedId
                    - status
                    - dateLastModified
                    - title
                    - courseCode
                    - org
                required:
                - course
        '400':
          description: Bad Request - the Request was invalid and cannot be served.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '401':
          description: Unauthorized - the Request requires authorization.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '403':
          description: Forbidden - to indicate that the server can be reached and process the request but refuses to take any further action.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '404':
          description: Not Found - there is no resource behind the URI.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '429':
          description: The server is receiving too many requests. Retry at a later time.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
      security:
      - access_token:
        - https://purl.imsglobal.org/spec/or/v1p1/scope/roster-core.readonly
        - https://purl.imsglobal.org/spec/or/v1p1/scope/roster.readonly
  /courses/{course_id}/classes:
    get:
      tags:
      - Courses-Classes
      summary: List Course's Classes
      description: Return the collection of classes that are teaching this course.
      operationId: getClassesForCourse
      parameters:
      - name: course_id
        in: path
        description: OneRoster Access Name
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: 'Query Filter in one of the following formats:<br><ul><li>?filter={data field}{predicate}{value}</li><li>?filter={data field}{predicate}{value} {logical} {data field}{predicate}{value}</li></ul>

          where {predicate} is one of [=, !=, >, >=, <, <=, ~]<br>

          and {logical} is one of [AND, OR]'
        schema:
          type: string
      - name: limit
        in: query
        description: The number of results to return.
        schema:
          type: integer
          minimum: 1
      - name: offset
        in: query
        description: The index of the first record to return. (zero indexed)
        schema:
          type: integer
          minimum: 0
      - name: sort
        in: query
        description: Designates the field used to sort the list, any data field may be sorted on (nested fields can be accessed with "." notation, i.e. "course.sourcedId").
        schema:
          type: string
      - name: orderBy
        in: query
        description: May be used after a sort query parameter. Designates the sort direction, "asc" or "desc".
        schema:
          type: string
          default: asc
      responses:
        '200':
          description: OK - It was possible to read the collection / resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  classes:
                    type: array
                    items:
                      type: object
                      properties:
                        sourcedId:
                          type: string
                          description: OneRoster Access Name
                        dateLastModified:
                          type: string
                          description: OneRoster Date Last Modified
                          readOnly: true
                        status:
                          type: string
                          description: OneRoster Status
                          readOnly: true
                        title:
                          type: string
                          description: Description
                        classCode:
                          type: string
                          description: "Class ID\n\nClass ID associated with this class. School-defined value. Must be unique in the school year. Special characters, punctuation, and spaces are not sufficient for uniqueness. \n\n\n\nExample: GYM 1 and GYM: 1 are not unique. GYM 1a and GYM 1b are unique."
                        location:
                          type: string
                          description: OneRoster Room
                          readOnly: true
                        classType:
                          type: string
                          description: OneRoster ClassType
                          readOnly: true
                        course:
                          type: object
                          properties:
                            href:
                              type: string
                              description: OneRoster HRef
                              readOnly: true
                            sourcedId:
                              type: string
                              description: OneRoster Access Name
                            type:
                              type: string
                              description: OneRoster Object Type
                              readOnly: true
                          required:
                          - href
                          - sourcedId
                          - type
                        school:
                          type: object
                          properties:
                            href:
                              type: string
                              description: OneRoster School Href
                              readOnly: true
                            sourcedId:
                              type: string
                              description: OneRoster Access Name
                            type:
                              type: string
                              description: OneRoster Type
                              readOnly: true
                          required:
                          - href
                          - sourcedId
                          - type
                        terms:
                          type: integer
                          description: OneRoster Terms
                          readOnly: true
                      required:
                      - sourcedId
                      - dateLastModified
                      - status
                      - title
                      - classCode
                      - location
                      - classType
                      - course
                      - school
                      - terms
                required:
                - classes
        '400':
          description: Bad Request - the Request was invalid and cannot be served.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '401':
          description: Unauthorized - the Request requires authorization.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '403':
          description: Forbidden - to indicate that the server can be reached and process the request but refuses to take any further action.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '404':
          description: Not Found - there is no resource behind the URI.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '429':
          description: The server is receiving too many requests. Retry at a later time.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
      security:
      - access_token:
        - https://purl.imsglobal.org/spec/or/v1p1/scope/roster-core.readonly
        - https://purl.imsglobal.org/spec/or/v1p1/scope/roster.readonly
  /courses/{course_id}/classes/{sourcedId}:
    get:
      tags:
      - Courses-Classes
      summary: Read Course's Class
      description: Retun a specific Class in a Course.
      operationId: getClassesForCourse
      parameters:
      - name: sourcedId
        in: path
        description: OneRoster Access Name
        required: true
        schema:
          type: string
      - name: course_id
        in: path
        description: OneRoster Access Name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK - It was possible to read the collection / resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  class:
                    type: object
                    properties:
                      sourcedId:
                        type: string
                        description: OneRoster Access Name
                      dateLastModified:
                        type: string
                        description: OneRoster Date Last Modified
                        readOnly: true
                      status:
                        type: string
                        description: OneRoster Status
                        readOnly: true
                      title:
                        type: string
                        description: Description
                      classCode:
                        type: string
                        description: "Class ID\n\nClass ID associated with this class. School-defined value. Must be unique in the school year. Special characters, punctuation, and spaces are not sufficient for uniqueness. \n\n\n\nExample: GYM 1 and GYM: 1 are not unique. GYM 1a and GYM 1b are unique."
                      location:
                        type: string
                        description: OneRoster Room
                        readOnly: true
                      classType:
                        type: string
                        description: OneRoster ClassType
                        readOnly: true
                      course:
                        type: object
                        properties:
                          href:
                            type: string
                            description: OneRoster HRef
                            readOnly: true
                          sourcedId:
                            type: string
                            description: OneRoster Access Name
                          type:
                            type: string
                            description: OneRoster Object Type
                            readOnly: true
                        required:
                        - href
                        - sourcedId
                        - type
                      school:
                        type: object
                        properties:
                          href:
                            type: string
                            description: OneRoster School Href
                            readOnly: true
                          sourcedId:
                            type: string
                            description: OneRoster Access Name
                          type:
                            type: string
                            description: OneRoster Type
                            readOnly: true
                        required:
                        - href
                        - sourcedId
                        - type
                      terms:
                        type: integer
                        description: OneRoster Terms
                        readOnly: true
                    required:
                    - sourcedId
                    - dateLastModified
                    - status
                    - title
                    - classCode
                    - location
                    - classType
                    - course
                    - school
                    - terms
                required:
                - class
        '400':
          description: Bad Request - the Request was invalid and cannot be served.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '401':
          description: Unauthorized - the Request requires authorization.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '403':
          description: Forbidden - to indicate that the server can be reached and process the request but refuses to take any further action.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '404':
          description: Not Found - there is no resource behind the URI.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '429':
          description: The server is receiving too many requests. Retry at a later time.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
      security:
      - access_token:
        - https://purl.imsglobal.org/spec/or/v1p1/scope/roster-core.readonly
        - https://purl.imsglobal.org/spec/or/v1p1/scope/roster.readonly
  /enrollments:
    get:
      tags:
      - Enrollments
      summary: List Enrollments
      description: Return collection of all enrollments.
      operationId: getAllEnrollments
      parameters:
      - name: filter
        in: query
        description: 'Query Filter in one of the following formats:<br><ul><li>?filter={data field}{predicate}{value}</li><li>?filter={data field}{predicate}{value} {logical} {data field}{predicate}{value}</li></ul>

          where {predicate} is one of [=, !=, >, >=, <, <=, ~]<br>

          and {logical} is one of [AND, OR]'
        schema:
          type: string
      - name: limit
        in: query
        description: The number of results to return.
        schema:
          type: integer
          minimum: 1
      - name: offset
        in: query
        description: The index of the first record to return. (zero indexed)
        schema:
          type: integer
          minimum: 0
      - name: sort
        in: query
        description: Designates the field used to sort the list, any data field may be sorted on (nested fields can be accessed with "." notation, i.e. "course.sourcedId").
        schema:
          type: string
      - name: orderBy
        in: query
        description: May be used after a sort query parameter. Designates the sort direction, "asc" or "desc".
        schema:
          type: string
          default: asc
      responses:
        '200':
          description: OK - It was possible to read the collection / resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  enrollments:
                    type: array
                    items:
                      type: object
                      properties:
                        sourcedId:
                          type: string
                          description: Enrollment Oneroster Access Name
                        status:
                          type: string
                          description: Status
                          readOnly: true
                        dateLastModified:
                          type: string
                          description: Enrollment Date Last Modified
                          readOnly: true
                        role:
                          type: string
                          description: Role
                        primary:
                          type: string
                          description: Primary
                        user:
                          type: object
                          properties:
                            href:
                              type: string
                              description: OneRoster Users HRef
                              readOnly: true
                            sourcedId:
                              type: string
                              description: OneRoster Access Name
                              readOnly: true
                            type:
                              type: string
                              description: OneRoster Endpoint Object Type
                              readOnly: true
                          required:
                          - href
                          - sourcedId
                          - type
                        class:
                          type: object
                          properties:
                            href:
                              type: string
                              description: OneRoster HRef
                              readOnly: true
                            sourcedId:
                              type: string
                              description: OneRoster Access Name
                            type:
                              type: string
                              description: OneRoster Object Type
                              readOnly: true
                          required:
                          - href
                          - sourcedId
                          - type
                        school:
                          type: object
                          properties:
                            href:
                              type: string
                              description: OneRoster Org Href
                              readOnly: true
                            sourcedId:
                              type: string
                              description: OneRoster Access Name
                            type:
                              type: string
                              description: OneRoster Type
                              readOnly: true
                          required:
                          - href
                          - sourcedId
                          - type
                        beginDate:
                          type: string
                          description: Begin Date
                        endDate:
                          type: string
                          description: End Date
                      required:
                      - sourcedId
                      - status
                      - dateLastModified
                      - role
                      - primary
                      - user
                      - class
                      - school
                      - beginDate
                      - endDate
                required:
                - enrollments
        '400':
          description: Bad Request - the Request was invalid and cannot be served.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
[...]
