openapi: 3.0.0
info:
  title: OneRoster API
  version: 1.0.0
  description: Please visit [Veracross API home](https://api-docs.veracross.com/) to get started
servers:
- url: https://oneroster.veracross.com/school-route/ims/oneroster/v1p1
  description: Base URL
tags:
- name: Categories
- name: Classes-LineItems
- name: Classes-LineItems-Results
- name: Classes-Results
- name: Classes-Students-Results
- name: LineItems
- name: Results
paths:
  /categories:
    put:
      tags:
      - Categories
      summary: Create Categories
      description: This is a modified version of the OneRoster standard where the sourcedId is ommitted from the path, and the created object is returned in the response body for convenience.
      operationId: putCategory
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                category:
                  type: object
                  properties:
                    sourcedId:
                      type: string
                      description: Oneroster Category Access Name
                    title:
                      type: string
                      description: Description
                      maxLength: 50
                  required:
                  - title
              required:
              - category
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  category:
                    type: array
                    items:
                      type: object
                      properties:
                        sourcedId:
                          type: string
                          description: Oneroster Category Access Name
                        status:
                          type: string
                          description: OneRoster Category Status
                          readOnly: true
                        dateLastModified:
                          type: string
                          description: Date Last Modified
                        title:
                          type: string
                          description: Description
                      required:
                      - sourcedId
                      - status
                      - dateLastModified
                      - title
                required:
                - category
        '400':
          description: Bad Request - the Request was invalid and cannot be served.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '401':
          description: Unauthorized - the Request requires authorization.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '403':
          description: Forbidden - to indicate that the server can be reached and process the request but refuses to take any further action.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '404':
          description: Not Found - there is no resource behind the URI.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '429':
          description: The server is receiving too many requests. Retry at a later time.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
      security:
      - access_token:
        - https://purl.imsglobal.org/spec/or/v1p1/scope/gradebook.createput
    get:
      tags:
      - Categories
      summary: List Categories
      description: Return collection of grading categories.
      operationId: getAllCategories
      parameters:
      - name: filter
        in: query
        description: 'Query Filter in one of the following formats:<br><ul><li>?filter={data field}{predicate}{value}</li><li>?filter={data field}{predicate}{value} {logical} {data field}{predicate}{value}</li></ul>

          where {predicate} is one of [=, !=, >, >=, <, <=, ~]<br>

          and {logical} is one of [AND, OR]'
        schema:
          type: string
      - name: limit
        in: query
        description: The number of results to return.
        schema:
          type: integer
          minimum: 1
      - name: offset
        in: query
        description: The index of the first record to return. (zero indexed)
        schema:
          type: integer
          minimum: 0
      - name: sort
        in: query
        description: Designates the field used to sort the list, any data field may be sorted on (nested fields can be accessed with "." notation, i.e. "course.sourcedId").
        schema:
          type: string
      - name: orderBy
        in: query
        description: May be used after a sort query parameter. Designates the sort direction, "asc" or "desc".
        schema:
          type: string
          default: asc
      responses:
        '200':
          description: OK - It was possible to read the collection / resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      type: object
                      properties:
                        sourcedId:
                          type: string
                          description: Oneroster Category Access Name
                        status:
                          type: string
                          description: OneRoster Category Status
                          readOnly: true
                        dateLastModified:
                          type: string
                          description: Date Last Modified
                        title:
                          type: string
                          description: Description
                      required:
                      - sourcedId
                      - status
                      - dateLastModified
                      - title
                required:
                - categories
        '400':
          description: Bad Request - the Request was invalid and cannot be served.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '401':
          description: Unauthorized - the Request requires authorization.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '403':
          description: Forbidden - to indicate that the server can be reached and process the request but refuses to take any further action.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '404':
          description: Not Found - there is no resource behind the URI.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '429':
          description: The server is receiving too many requests. Retry at a later time.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
      security:
      - access_token:
        - https://purl.imsglobal.org/spec/or/v1p1/scope/gradebook.readonly
  /categories/{sourcedId}:
    get:
      tags:
      - Categories
      summary: Read Categories
      description: Return specific grading category.
      operationId: getCategory
      parameters:
      - name: sourcedId
        in: path
        description: Oneroster Category Access Name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK - It was possible to read the collection / resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  category:
                    type: object
                    properties:
                      sourcedId:
                        type: string
                        description: Oneroster Category Access Name
                      status:
                        type: string
                        description: OneRoster Category Status
                        readOnly: true
                      dateLastModified:
                        type: string
                        description: Date Last Modified
                      title:
                        type: string
                        description: Description
                    required:
                    - sourcedId
                    - status
                    - dateLastModified
                    - title
                required:
                - category
        '400':
          description: Bad Request - the Request was invalid and cannot be served.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '401':
          description: Unauthorized - the Request requires authorization.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '403':
          description: Forbidden - to indicate that the server can be reached and process the request but refuses to take any further action.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '404':
          description: Not Found - there is no resource behind the URI.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '429':
          description: The server is receiving too many requests. Retry at a later time.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
      security:
      - access_token:
        - https://purl.imsglobal.org/spec/or/v1p1/scope/gradebook.readonly
    put:
      tags:
      - Categories
      summary: Update or Create Categories
      description: 'Modify a category that already exists, or create a new category*.


        *Note that we have implemented an improved record creation enpoint that we recommend you use.'
      operationId: putCategory
      parameters:
      - name: sourcedId
        in: path
        description: Oneroster Category Access Name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                category:
                  type: object
                  required:
                  - title
                  properties:
                    sourcedId:
                      type: string
                    title:
                      type: string
                      description: Description
                      maxLength: 50
              required:
              - category
      responses:
        '201':
          description: OK - New resource has been created.
        '400':
          description: Bad Request - the Request was invalid and cannot be served.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '401':
          description: Unauthorized - the Request requires authorization.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '403':
          description: Forbidden - to indicate that the server can be reached and process the request but refuses to take any further action.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '404':
          description: Not Found - there is no resource behind the URI.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '429':
          description: The server is receiving too many requests. Retry at a later time.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
      security:
      - access_token:
        - https://purl.imsglobal.org/spec/or/v1p1/scope/gradebook.createput
    delete:
      tags:
      - Categories
      summary: Delete Categories
      description: Enable the associated SourcedId to be marked as deleted. An immediate read will result in 404 code.
      operationId: deleteCategory
      parameters:
      - name: sourcedId
        in: path
        description: Oneroster Category Access Name
        required: true
        schema:
          type: string
      responses:
        '204':
          description: OK - The resource was deleted successfully.
        '400':
          description: Bad Request - the Request was invalid and cannot be served.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '401':
          description: Unauthorized - the Request requires authorization.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '403':
          description: Forbidden - to indicate that the server can be reached and process the request but refuses to take any further action.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '404':
          description: Not Found - there is no resource behind the URI.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '429':
          description: The server is receiving too many requests. Retry at a later time.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
      security:
      - access_token:
        - https://purl.imsglobal.org/spec/or/v1p1/scope/gradebook.delete
  /lineItems:
    put:
      tags:
      - LineItems
      summary: Create LineItems
      description: This is a modified version of the OneRoster standard where the sourcedId is ommitted from the path, and the created object is returned in the response body for convenience.
      operationId: putLineItem
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                lineItem:
                  type: object
                  required:
                  - title
                  - description
                  - class
                  - category
                  properties:
                    sourcedId:
                      type: string
                      description: Line Item Oneroster Access Name
                    title:
                      type: string
                      description: Description
                    description:
                      type: string
                      description: Notes
                    assignDate:
                      type: string
                      description: Date Assigned
                      default: Today's Date
                    dueDate:
                      type: string
                      description: Due Date
                    class:
                      type: object
                      required:
                      - sourcedId
                      properties:
                        sourcedId:
                          type: string
                          description: Class Oneroster Access Name
                    category:
                      type: object
                      required:
                      - sourcedId
                      properties:
                        sourcedId:
                          type: string
                          description: Category Oneroster Access Name
                    resultValueMax:
                      type: number
                      description: Maximum Score
                      default: 100
              required:
              - lineItem
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  LineItem:
                    type: object
                    properties:
                      sourcedId:
                        type: string
                        description: Line Item Oneroster Access Name
                      status:
                        type: string
                        description: OneRoster LineItem Status
                        readOnly: true
                      dateLastModified:
                        type: string
                        description: Date Last Modified
                      title:
                        type: string
                        description: Description
                      description:
                        type: string
                        description: Notes
                      assignDate:
                        type: string
                        description: Date Assigned
                      dueDate:
                        type: string
                        description: Due Date
                      class:
                        type: object
                        properties:
                          href:
                            type: string
                            description: OneRoster HRef
                            readOnly: true
                          sourcedId:
                            type: string
                            description: Class Oneroster Access Name
                          type:
                            type: string
                            description: OneRoster Object Type
                            readOnly: true
                        required:
                        - href
                        - sourcedId
                        - type
                      category:
                        type: object
                        properties:
                          href:
                            type: string
                            description: OneRoster Category Href
                            readOnly: true
                          sourcedId:
                            type: string
                            description: Category Oneroster Access Name
                          type:
                            type: string
                            description: OneRoster Category Object Type
                            readOnly: true
                        required:
                        - href
                        - sourcedId
                        - type
                      gradingPeriod:
                        type: object
                        properties:
                          href:
                            type: string
                            description: OneRoster Href
                            readOnly: true
                          sourcedId:
                            type: string
                            description: Grading Period Oneroster Access Name
                          type:
                            type: string
                            description: OneRoster Object Type
                            readOnly: true
                        required:
                        - href
                        - sourcedId
                        - type
                      resultValueMin:
                        type: number
                        description: Minimum Score
                      resultValueMax:
                        type: number
                        description: Maximum Score
                    required:
                    - sourcedId
                    - status
                    - dateLastModified
                    - title
                    - description
                    - assignDate
                    - dueDate
                    - class
                    - category
                    - gradingPeriod
                    - resultValueMin
                    - resultValueMax
                required:
                - LineItem
        '400':
          description: Bad Request - the Request was invalid and cannot be served.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '401':
          description: Unauthorized - the Request requires authorization.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '403':
          description: Forbidden - to indicate that the server can be reached and process the request but refuses to take any further action.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '404':
          description: Not Found - there is no resource behind the URI.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '429':
          description: The server is receiving too many requests. Retry at a later time.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
      security:
      - access_token:
        - https://purl.imsglobal.org/spec/or/v1p1/scope/gradebook.createput
    get:
      tags:
      - LineItems
      summary: List LineItems
      description: Return collection of lineItems.
      operationId: getAllLineItems
      parameters:
      - name: filter
        in: query
        description: 'Query Filter in one of the following formats:<br><ul><li>?filter={data field}{predicate}{value}</li><li>?filter={data field}{predicate}{value} {logical} {data field}{predicate}{value}</li></ul>

          where {predicate} is one of [=, !=, >, >=, <, <=, ~]<br>

          and {logical} is one of [AND, OR]'
        schema:
          type: string
      - name: limit
        in: query
        description: The number of results to return.
        schema:
          type: integer
          minimum: 1
      - name: offset
        in: query
        description: The index of the first record to return. (zero indexed)
        schema:
          type: integer
          minimum: 0
      - name: sort
        in: query
        description: Designates the field used to sort the list, any data field may be sorted on (nested fields can be accessed with "." notation, i.e. "course.sourcedId").
        schema:
          type: string
      - name: orderBy
        in: query
        description: May be used after a sort query parameter. Designates the sort direction, "asc" or "desc".
        schema:
          type: string
          default: asc
      responses:
        '200':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  lineItems:
                    type: array
                    items:
                      type: object
                      properties:
                        sourcedId:
                          type: string
                          description: Line Item Oneroster Access Name
                        status:
                          type: string
                          description: OneRoster LineItem Status
                          readOnly: true
                        dateLastModified:
                          type: string
                          description: Date Last Modified
                        title:
                          type: string
                          description: Description
                        description:
                          type: string
                          description: Notes
                        assignDate:
                          type: string
                          description: Date Assigned
                        dueDate:
                          type: string
                          description: Due Date
                        class:
                          type: object
                          properties:
                            href:
                              type: string
                              description: OneRoster HRef
                              readOnly: true
                            sourcedId:
                              type: string
                              description: Class Oneroster Access Name
                            type:
                              type: string
                              description: OneRoster Object Type
                              readOnly: true
                          required:
                          - href
                          - sourcedId
                          - type
                        category:
                          type: object
                          properties:
                            href:
                              type: string
                              description: OneRoster Category Href
                              readOnly: true
                            sourcedId:
                              type: string
                              description: Category Oneroster Access Name
                            type:
                              type: string
                              description: OneRoster Category Object Type
                              readOnly: true
                          required:
                          - href
                          - sourcedId
                          - type
                        gradingPeriod:
                          type: object
                          properties:
                            href:
                              type: string
                              description: OneRoster Href
                              readOnly: true
                            sourcedId:
                              type: string
                              description: Grading Period Oneroster Access Name
                            type:
                              type: string
                              description: OneRoster Object Type
                              readOnly: true
                          required:
                          - href
                          - sourcedId
                          - type
                        resultValueMin:
                          type: number
                          description: Minimum Score
                          readOnly: true
                        resultValueMax:
                          type: number
                          description: Maximum Score
                      required:
                      - sourcedId
                      - status
                      - dateLastModified
                      - title
                      - description
                      - assignDate
                      - dueDate
                      - class
                      - category
                      - gradingPeriod
                      - resultValueMin
                      - resultValueMax
                required:
                - lineItems
        '400':
          description: Bad Request - the Request was invalid and cannot be served.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '401':
          description: Unauthorized - the Request requires authorization.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '403':
          description: Forbidden - to indicate that the server can be reached and process the request but refuses to take any further action.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '404':
          description: Not Found - there is no resource behind the URI.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '429':
          description: The server is receiving too many requests. Retry at a later time.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                description: The error payload follows the prevailing LIS practice of specifying a CodeMajor, Severity, CodeMinor and description.
                properties:
                  statusInfo:
                    type: object
                    properties:
                      imsx_codeMajor:
                        type: string
                        description: Code Major
                        enum:
                        - success
                        - failure
                      imsx_codeMinor:
                        type: string
                        description: Code Minor
                        enum:
                        - full success
                        - unknown object
                        - invalid data
                        - unauthorized
                        - invalid_sort_field
                        - invalid_filter_field
                        - invalid_selection_field
                      imsx_severity:
                        type: string
                        description: Severity
                        enum:
                        - status
                        - error
                        - warning
                      imsx_description:
                        type: string
                        description: A text string providing a human readable description of the error that happened.
                  error_id:
                    type: string
                    description: A unique ID for this specific error. Please provide this error id when you ask for help with an error.
                required:
                - statusInfo
                - error_id
      security:
      - access_token:
        - https://purl.imsglobal.org/spec/or/v1p1/scope/gradebook.readonly
  /lineItems/{sourcedId}:
    delete:
      tags:
      - LineItems
      summary: Delete LineItems
      description: Enable the associated SourcedId to be marked as deleted. An immediate read will result in 404 code.
      operationId: deleteLineItem
      parameters:
      - name: sourcedId
        in: path
        description: Line Item Oneroster Access Name
        required: true
        schema:
          type: string
      responses:
        '204':
[...]
